<%- model_class = Movie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:movie_title) %>:</strong></dt>
  <dd><%= @movie.movie_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:release_date) %>:</strong></dt>
  <dd><%= @movie.release_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imdb_url) %>:</strong></dt>
  <dd><%= @movie.imdb_url %></dd>
  <dt><strong><%= 'Genres' %>:</strong></dt>
  <dd>
    <% if @movie.action? %>
      <span class="label"><%= model_class.human_attribute_name(:action) %></span>
    <% end %>
    <% if @movie.adventure%>
      <span class="label"><%= model_class.human_attribute_name(:adventure) %></span>
    <% end %>
    <% if @movie.animation%>
      <span class="label"><%= model_class.human_attribute_name(:animation) %></span>
    <% end %>
    <% if @movie.children%>
      <span class="label"><%= model_class.human_attribute_name(:children) %></span>
    <% end %>
    <% if @movie.comedy%>
      <span class="label"><%= model_class.human_attribute_name(:comedy) %></span>
    <% end %>
    <% if @movie.crime%>
      <span class="label"><%= model_class.human_attribute_name(:crime) %></span>
    <% end %>
    <% if @movie.documentary%>
      <span class="label"><%= model_class.human_attribute_name(:documentary) %></span>
    <% end %>
    <% if @movie.drama%>
      <span class="label"><%= model_class.human_attribute_name(:drama) %></span>
    <% end %>
    <% if @movie.fantasy%>
      <span class="label"><%= model_class.human_attribute_name(:fantasy) %></span>
    <% end %>
    <% if @movie.film_noir%>
      <span class="label"><%= model_class.human_attribute_name(:film_noir) %></span>
    <% end %>
    <% if @movie.horror%>
      <span class="label"><%= model_class.human_attribute_name(:horror) %></span>
    <% end %>
    <% if @movie.musical%>
      <span class="label"><%= model_class.human_attribute_name(:musical) %></span>
    <% end %>
    <% if @movie.mystery%>
      <span class="label"><%= model_class.human_attribute_name(:mystery) %></span>
    <% end %>
    <% if @movie.romance%>
      <span class="label"><%= model_class.human_attribute_name(:romance) %></span>
    <% end %>
    <% if @movie.sci_fi%>
      <span class="label"><%= model_class.human_attribute_name(:sci_fi) %></span>
    <% end %>
    <% if @movie.thriller%>
      <span class="label"><%= model_class.human_attribute_name(:thriller) %></span>
    <% end %>
    <% if @movie.war%>
      <span class="label"><%= model_class.human_attribute_name(:war) %></span>
    <% end %>
    <% if @movie.western%>
      <span class="label"><%= model_class.human_attribute_name(:western) %></span>
    <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              movies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_movie_path(@movie), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              movie_path(@movie),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
