<% provide(:title, 'Home') %>
<h1>Automatic Recommender for a Web based social learning application</h1>
<div class="row">
  <div class="span8">
    <div class="video">
      <i class="icon-play" style="font-size: 80px; padding-left: 200px; line-height: 300px;"></i>
    </div>
    <div class="row">
      <div class="span8">
        <%= form_tag '/graph/show' do -%>
          <fieldset>
            <legend>Rating</legend>
            <div class="row">
              <div class="span3">
                <h4><%= Movie.human_attribute_name(:movie_title) %></h4>
              </div>
              <div class="span3">
                <h4>Genres:</h4>
              </div>
              <div class="span2">
                <h4><%= Rating.model_name.human %></h4>
              </div>
            </div>
            <%= render @movies %>
            <%= submit_tag 'Submit', {:class => "btn" } %>
            <span class="help-block">Rate some of the movies</span>
          </fieldset>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="span4">
    <h2>Recommendations</h2>
    <div class="recommendation-list">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
    <h2>Visualisation</h2>
    <div>
      <p>
        <%= link_to "Preprocessed User-Item matrix", graph_show_path %>
      </p>
      <p>
        <%= link_to "Processed matrix with the new user", graph_show_path(:user => "1") %>
      </p>
    </div>
  </div>
</div>
