<% provide(:title, 'Ratings matrix') %>
<h1>Showing the distribution of the users and items</h1>
<p>Find me in app/views/graph/show.html.erb</p>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw @json.to_json %>);
        /*var data = google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Users');
        data.addColumn('number', 'Items');
        
        data.add*/

        var options = {
          title: 'Users vs. Ratings comparison',
                 hAxis: {title: 'X', minValue: <%= @x_min %>, maxValue: <%= @x_max %>},
                 vAxis: {title: 'Y', minValue: <%= @y_min %>, maxValue: <%= @y_max %>},
          legend: 'true'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

