<h1>Listing ratings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Item</th>
    <th>Rating</th>
    <th>Rated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.user_id %></td>
    <td><%= rating.item_id %></td>
    <td><%= rating.rating %></td>
    <td><%= rating.rated_at %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
