<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Item:</b>
  <%= @rating.item_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @rating.rating %>
</p>

<p>
  <b>Rated at:</b>
  <%= @rating.rated_at %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
